
*.fasta

src/elgh/*.txt

src/elgh/*.xlsx

src/elgh/*.csv

objects/

data/elgh/__MACOSX/._data_summary.gatk_PASS.after_genotype_filtering.LoFs.genotype_counts.any_cohort.any_transcript.xlsx

data/.DS_Store

*.csv

*.xlsb

data/gnomad_genomic_constraint.txt

data/mousePhenotypes/.DS_Store

data/mousePhenotypes/part-00000-31eba8be-aff8-492e-9edb-4b5e8c821237-c000.snappy.parquet

data/STRING_PPIs.txt

data/Tractability/.DS_Store

src/.DS_Store

src/preprocessing_log.txt

.DS_Store

preprocessing_log.txt

src/__pycache__/dataloader.cpython-38.pyc

data/datasets.pkl

src/__pycache__/

data/gnomad_feature_description.pdf

*.pyc

*.png

*.pkl

data/9606.protein.info.v11.5.txt

plots/opentargets tractability/Tractability Score for Antibodies with Ground Truth.pdf

plots/opentargets tractability/Tractability Score for Small Molecules with Ground Truth.pdf

data/exon_variant_locs_unpadded.bed

models/VariPred/Dataset_preparation/example.txt

models/VariPred/Dataset_preparation/target.txt

models/VariPred/Dataset_preparation/transcript_ids.txt

models/VariPred/Dataset_preparation/VariPred_test.txt

models/VariPred/Dataset_preparation/VariPred_train.txt

models/VariPred/example/output_results/VariPred_output.txt

models/VariPred/README.md

models/VariPred/requirements.txt

models/VariPred/VariPred/model/model.ckpt

src/mprofile_20230511153234.dat

data/elgh/all_functional.gatk_PASS.FS_30.DP_0.GQ_20.AB_0.01.functional.missingness_lt_0.genotype_counts.present_in_ELGH.n_transcripts_corrected.txt

scatter_fda_labels_ab.pdf

plots/opentargets tractability/scatter_fda_labels_sm.pdf

plots/opentargets tractability/scatter_fda_labels.pdf

plots/opentargets tractability/scatter_fda_labels_ab_full.pdf

plots/opentargets tractability/scatter_fda_labels_sm_full.pdf

plots/scatter_fda_labels_sm.pdf

Apocrita_ArrayJobExample.sh

data/elgh/missing_miva_files.txt

missing_miva_files.txt

variant_calling_array.sh

variant_calling_array_1.sh

plots/variant_sparsity_bar.pdf

plots/sift_pp_pathogenicity_correlation.pdf

data/VariPred/embeds/

data/VariPred/output/
